.profile-wrap .avatar .avatar-image {
    display: flex;
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%
}


.profile-wrap {
    position: relative;
    z-index: 1
}

.profile-wrap .avatar {
    cursor: pointer;
    display: flex;
    align-items: center
}

.profile-wrap .avatar .avatar-image {
    display: flex;
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%
}